PROJECT_ID=$(gcloud config get-value project) # GCP project ID
PROJECT_NUMBER=$(gcloud projects list --format="value(project_number)" --filter="project_id=$PROJECT_ID") # GCP project number
REGION=us-east1 # Cloud Run deployment region
APPENGINE_REGION=us-east1 # Cloud Firestore region 
APP_NAME=match-game # Application name
COLLECTION_NAME=match-high-scores # Cloud Firestore collection name for high scores database
