.card-image {
    border-radius: 3px; /* Hides slight color bleed. */
    height: 80px;
}
.gamepiece {
    /* Ensure image takes up card space, and covers card. */
    height: 100%;
    object-fit: cover;
}
#game-section {
    padding-top: 3rem;
}
#game-board {
    max-width: 800px;
}
#toast-container {
    /* Place popup in bottom left out of the way of the board. */
    bottom: 10%;
    left: 7%;
    right: auto !important;
    top: auto !important;
}
@media screen and (min-width: 500px) {
    .card-image {
        height: 120px;
    }
}
@media screen and (min-width: 1000px) and (min-height: 1081px) {
    .card-image {
        height: 200px;
    }
}
